[submodule "backend"]
	path = backend
	url = git@github.com:biddellns/csv-webapp-server.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:biddellns/csv-webapp-frontend.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:biddellns/csv-webapp-nginx.git
